.container{
    padding: 70px 10px;
}

.card-block{
    padding-bottom: 10px;
}

.card-block h3{
    font-size: 1.3rem;
}

.card-block p{
    margin-top: -5px;
}

.card-block img{
    width: 2.5rem;
}

.escudos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.escudos span{
    display: block;
}

.escudos p{
    padding-left: 15px;
    padding-right: 15px;
}
